* {
    font-family: 'FiraCode Nerd Font', monospace;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;

}

#clock,
#cpu,
#memory,
#custom-rofi,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode {
    background-color: #101529; /* Change this to any gray color you want */
    border-radius: 10px; /* Adjust as needed */
    padding: 5px 10px;
    color: #CCF8FF;
}
